// Variables

$text-color: black;
$link-underline-color: rgb(255, 255, 255);
$background-color: #dddddd;

// General Styles
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

@for $i from 1 through 10 {
  .font-#{$i} {
    font-size: #{$i}em;
  }
}

.bold {
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 100;
}

input {
  margin: 0px 10px;
}

button {
  border: none;
  margin-right: 10px;
  padding: 5px;
  transition: all 0.25s ease-in;
}

button:hover {
  background-color: rgb(100, 100, 100);
  color: white;
}

a {
  display: inline;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid $link-underline-color;
  padding: 5px 2px;
  transition: 0.15s ease-out;
}

a:hover {
  background-color: rgba(85, 85, 85, 0.5);
  border-bottom: 3px solid $link-underline-color;
  margin-bottom: -2px;
}

// Navigation
nav {
  background-color: #1b1b1b;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
  line-height: 19.2px;
  width: 15rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -15rem;
  padding: 2.4rem;
  transition: all 0.4s ease-out;
  ul {
    display: grid;
    padding: 1.6rem;
    height: 100%;
    align-items: start;
    justify-items: start;
  }
}

#toggle {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1;
  transition: 0.4s ease-out;
}

#toggler {
  display: none;
}

#toggler:checked + #toggle {
  right: 16rem;
  color: black;
}
.active {
  right: 0rem;
}

// Landing Page

.landing {
  width: 100vw;
  height: 100vh;
  background-image: url("./Assets/LandingBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;
  padding-left: 5rem;
  letter-spacing: 10px;
  a {
    color: black;
    border-bottom: 1px solid black;
  }
  a:hover {
    border-bottom-width: 5px;
  }
}

// Container
.container {
  background-color: $background-color;
  min-height: 100vh;
}

// About

.content {
  text-align: justify;
  padding: 1.5rem 5rem;
  line-height: 1.75;
  width: 50rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

// Projects

.project {
  transition: all 0.25s ease-in-out;
  border-left: 10px solid rgb(100, 100, 100);
  padding: 15px;
  img {
    max-height: 3rem;
  }
}

.project:hover {
  background-color: rgb(48, 48, 48);
  color: #fff;
}

.project:hover > .technology {
  color: rgb(133, 185, 253);
}
